[Unit]
Description=SQL Injection Telegram Bot Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/prof/Documents/sembako-app-copy/sqli
Environment=PATH=/home/prof/Documents/sembako-app-copy/sqli/venv/bin:$PATH
ExecStart=/home/prof/Documents/sembako-app-copy/sqli/venv/bin/python telegram_bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
